blockquote,body,button,code,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Arial,SimSun;font-family:"Microsoft YaHei"}
button,input,select,textarea{font-size:100%}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
ol,ul{list-style:none}
em,i,strong{font-style:normal;font-weight:400}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;height:100%}
a{text-decoration:none;color:inherit}
a:hover{text-decoration:none}
.clear{clear:both}
.clearfix:after{content:"\200B";display:block;height:0;clear:both}
.left{float:left}
.right{float:right}

.btn {
    display: block;
    position: relative;
    width: 368px;
    height: 94px;
    line-height: 94px;
    border-radius: 12px;
    margin: 0 auto 24px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.btn img {
    margin: 21px 12px 0 56px;
}

.btn .btn_text {
    position: relative;
}

.header {
    position: relative;
    width: 100%;
    height: 880px;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 880px;
}

.top-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
}

.header .top {
    position: relative;
    width: 1167px;
    height: 56px;
    margin: 0 auto;
    padding-top: 24px;
}

.header .top .duba-logo {
    margin-top: 9px;
}

.nav-search {
    float: right;
    width: 600px;
    height: 40px;
}

.nav-search .nav {
    width: 360px;
}

.nav-search .nav .nav-item {
    float: left;
    width: 72px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    opacity: 1;
}
.nav-search .nav .nav-item:hover  {
    opacity: 0.8;
}

.top-searchBox {
    position: relative;
    width: 204px;
    border-radius: 6px;
    overflow: hidden;
}

.searchBar {
    width: 100%;
    height: 34px;
    position: relative;
    background-color: #fff;
}

.searchBar input {
    width: 131px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 0px solid #fff;
}

.searchBar input:hover {
    border-color: #fff;
}

.searchBar input:focus {
    outline: none;
}

.searchBar button {
    width: 64px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: #2f82e9;
    color: #fff;
    padding: 0 0 0 9px;
}

.searchBar button:hover {
    background-color: #3b8df2;
}

.searchBar button:active {
    background-color: #2579e1;
}

.searchBar button:before {
    font-size: 18px;
}

.searchBar button img {
    float: left;
    width: 14px;
    margin: 10px 5px 0 0;
}

.searchBar button .search-text {
    float: left;
    font-size: 14px;
}

.banner {
    position: relative;
    width: 1167px;
    margin: 90px auto 0;
    text-align: center;
}

.banner .title {
    /* 居中容器内的内联元素 */
    font-size: 0;
    /* 修复内联元素间隙问题 */
    *zoom: 1;
    /* 为IE7及以下版本提供hasLayout */
    margin-bottom: 30px;
}

.banner .title:before,
.banner .title:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.banner .title .item {
    display: inline-block;
    /* 让元素以内联块的形式显示 */
    vertical-align: middle;
    /* 垂直居中对齐 */
}

.banner .title .logo {
    width: 70px;
}

.banner .title h1 {
    font-size: 50px;
    line-height: 67px;
    font-weight: 700;
    margin: 0 12px 0 20px;
}

.banner .title .border {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 28px;
    margin: 16px 0 0 0;
    padding: 0 12px;
    border-left: 2px solid #3D4756;
}

.banner .desc {
    height: 64px;
    line-height: 64px;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 58px;
}

.banner-box {
    width: 100%;
    margin: 0 auto;
}

.banner .btn {
    margin-top: 48px;
    border-radius: 100px;
    color: #fff;
}

.btn_icon {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 25px 12px 0 96px;
}

.btn_icon::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform: scale3d(0.9, 0.9, 1);
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: inset 0 0 0 3px #fff;
}

.btn_icon .arrow-down {
    display: block;
    position: relative;
    width: 20px;
    height: 18px;
    z-index: 1;
    margin: 13px 0 0 12px;
}

.btn_icon .arrow-down::before,
.btn_icon .arrow-down::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.btn_icon .arrow-down::before {
    width: 3px;
    height: 20px;
    background-color: #fff;
}

.btn_icon .arrow-down::after {
    width: 11px;
    height: 11px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: #fff;
    transform: translateX(-50%) rotate(45deg);
}



.banner .btn .btn_text {
    position: relative;
    float: left;
    font-size: 30px;
    font-weight: 600;
}

.banner .tip {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    margin: 0 0 88px 0;
    opacity: 0.9;
}

.keyword-list {
    width: 952px;
    height: 88px;
    margin: 0 auto;
}

.keyword-list ul {
    width: 952px;
}

.keyword-list .keyword-item {
    float: left;
    width: 188px;
    height: 188px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 0 25px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 27px;
    position: relative;
    top: 0;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
}

.keyword-list .keyword-item:hover,
.keyword-list .keyword-item.active {
    top: -10px;
    background-position: -188px 0;
    color: #fff;
}

.keyword-list .keyword-item .key,
.keyword-list .keyword-item .key-h {
    width: 80px;
    height: 80px;
    margin: 30px auto 6px;
}

.keyword-list .keyword-item .key {
    background-position: 0 0;
}

.keyword-list .keyword-item .key-h {
    background-position: 0 0;
}

.keyword-list .keyword-item.no2 .key,
.keyword-list .keyword-item.no2 .key-h {
    background-position: -80px 0;
}

.keyword-list .keyword-item.no3 .key,
.keyword-list .keyword-item.no3 .key-h {
    background-position: -160px 0;
}

.keyword-list .keyword-item.no4 .key,
.keyword-list .keyword-item.no4 .key-h {
    background-position: -240px 0;
}

.keyword-list .keyword-item .key-h {
    display: none;
}

.keyword-list .keyword-item.active .key-h {
    display: block;
}

.main {
    width: 100%;
    height: 880px;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

.main .user {
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-top: 40px;
}

.main .user span {
    font-weight: 700;
    color: #FB4002;
}

.img-list-box {
    position: relative;
    width: 1154px;
    margin: 0 auto;
}

.img-list {
    width: 1112px;
    margin: 83px auto 20px;
    text-align: center;
}

.img-list .desc {
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 60px;
}

.img-list .img {
    width: 780px;
    height: 420px;
    margin: 0 auto 40px;
    background-position: 0 0;
}

.img-list.no2 .img {
    background-position: -780px 0;
}

.img-list.no3 .img {
    background-position: -1560px 0;
}

.img-list.no4 .img {
    background-position: -2340px 0;
}

.img-list-btn {
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
}

.review {
    width: 100%;
    height: 800px;
    background: #F7FAFF;
    background: linear-gradient(180deg, #F7FAFF 0%, #FFFFFF 46%);
}

.review h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding: 60px 0 38px 0
}

.user-review {
    width: 930px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

.user-review-item {
    float: left;
    width: 310px;
    height: 244px;
    margin: 0;
}

.swiper-container2 .user-review-item {
    height: 150px;
}

.user-review-item .user {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin: 69px auto 0;
    background-size: 744px 124px;
    background-position: 0 0;
}

.user-review-item.no1 .user {
    background-position: 0 0;
}
.user-review-item.no2 .user {
    background-position: -124px 0;
}

.user-review-item.no3 .user {
    background-position: -248px 0;
}

.user-review-item.no4 .user {
    background-position: -372px 0;
}

.user-review-item.no5 .user {
    background-position: -496px 0;
}

.user-review-item.no6 .user {
    background-position: -620px 0;
}

.user-review-item.swiper-slide-active .user {
    width: 152px;
    height: 152px;
    margin-top: 46px;
    background-size: 912px 152px;
}

.user-review-item.swiper-slide-active.no1 .user {
    background-position: -0 0;
}

.user-review-item.swiper-slide-active.no2 .user {
    background-position: -152px 0;
}

.user-review-item.swiper-slide-active.no3 .user {
    background-position: -304px 0;
}

.user-review-item.swiper-slide-active.no4 .user {
    background-position: -456px 0;
}

.user-review-item.swiper-slide-active.no5 .user {
    background-position: -608px 0;
}

.user-review-item.swiper-slide-active.no6 .user {
    background-position: -760px 0;
}

.user-review-item .name {
    font-size: 34px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 14px;
}

.user-review-item .review-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.user-review.swiper-container2 {
    width: 680px;
    height: 200px;
    margin: -33px auto 0;
}

.swiper-container2 .user-review-item.swiper-slide-active {
    background: none;
}

.swiper-container3 .swiper-button-prev,
.swiper-container3 .swiper-button-next {
    top: 355px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.swiper-button-next,
.swiper-button-prev {
    right: 0;
    left: auto;
    top: auto;
    bottom: 0;
    width: 31px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #a1a3a6;
    color: #fff;
    padding: 10px 8px 10px 11px
}
.swiper-button-prev {
    padding: 10px 11px 10px 8px
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #6fa8f3;
}

.swiper-button-next:active,
.swiper-button-prev:active {
    background-color: #a4c3ed;
}

.swiper-button-prev {
    left: 0;
    right: auto;
}

.downType {
    width: 898px;
    height: 124px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    display: none;
}

.downType .common-btn,
.downType .safeType {
    height: 120px;
    width: 50%;
}

.downType .btn {
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    cursor: pointer;
}

.downType .tip {
    color: #888;
    margin-top: 24px;
    font-size: 16px;
    line-height: 21px;
}

.bottom-container {
    width: 100%;
    height: 430px;
    background-size: 100% 430px;
    text-align: center;
}

.bottom-container .title {
    width: 600px;
    padding-top: 140px;
    text-align: left;
    position: relative;
    left: 50%;
    margin-left: -210px;
}

.bottom-container .logo {
    float: left;
    width: 100px;
    margin-right: 30px;
}
.bottom-container .text {
    margin-top: -10px;
}

.bottom-container h2 {
    font-size: 50px;
    line-height: 67px;
    font-weight: 700;
    margin-bottom: 10px;
}

.bottom-container .description {
    font-size: 30px;
    line-height: 54px;
    font-weight: 400;
    margin-bottom: 30px;
}

.bottom-container .star .text {
    font-size: 30px;
    line-height: 40px;
}

.bottom-container .star .img {
    width: 240px;
    vertical-align: bottom;
}


.footer {
    width: 100%;
    line-height: 30px;
    text-align: center;
    padding: 10px 0 100px 0;
    font-size: 14px;
    color: #999;
}

.fix {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    background-color: #f1f1f1;
    z-index: 100;
}

.fix .fix-box {
    position: relative;
    width: 1019px;
    margin: 0 auto;
}

.fix .product-logo {
    position: absolute;
    height: 50px;
    line-height: 50px;
}

.fix .product-logo img {
    height: 50px;
}

.fix .product-logo i {
    font-size: 20px;
    line-height: 48px;
    margin-left: 14px;
    font-weight: 700;
}

.fix .at-once {
    position: absolute;
    right: 0;
    display: block;
    width: 140px;
    height: 44px;
    cursor: pointer;
    border-radius: 6px;
}

.fix .at-once img {
    margin: 10px 10px 0 23px;
}

.fix .at-once i {
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
}


.alert-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.alert-wrapper {
    width: 460px;
    height: 249px;
    margin: 0 auto;
    top: 50%;
    margin-top: -115px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    z-index: 100;
    box-shadow: 1px 2px 3px #c7c6c6;
    font-size: 20px;
}

.alertTop {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #eee;
    font-size: 22px;
}

.alertTop .topTitle {
    float: left;
    padding-left: 20px;
    line-height: 60px;
}

.alertTop .topClose {
    float: right;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
}

.alertMain {
    padding-top: 15px;
}

.alertMain .title {
    text-align: left;
    padding-left: 25px;
    line-height: 28px;
}

.alertMain .little {
    font-size: 16px;
    text-align: left;
    color: #e9827d;
}

.alertMain .alert-btn a {
    position: relative;
    width: 194px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    margin: 20px 0 0 23px;
    float: left;
    border-radius: 8px;
}

.check-alert {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.check-alert .check-wrapper {
    width: 440px;
    height: 200px;
    margin: 0 auto;
    top: 50%;
    margin-top: -100px;
    position: relative;
    border-radius: 6px;
}

.check-alert .check-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 3px;
    font-size: 22px;
    cursor: pointer;
}

.check-alert .check-close:hover {
    color: #f8784d;
}

.check-alert .check-btn {
    position: absolute;
    width: 170px;
    height: 40px;
    line-height: 40px;
    left: 135px;
    bottom: 24px;
    border-radius: 12px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}

.tips {
    position: fixed;
    width: 301px;
    height: 227px;
    bottom: 120px;
    right: 113px;
    z-index: 999;
    display: none;
}

.tips .close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #666;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.tips img {
    width: 301px;
    height: 227px;
}


html,
body {
    color: #3D4756;
}

.banner .title .border {
    border-left: 2px solid #3D4756;
}

.banner .btn:hover .arrow-down::before {
    background-color: #FD6431;
}

.banner .btn:hover .arrow-down::after {
    border-color: #FD6431;
}



.alertMain .alert-btn a,
.alertTop .topClose:hover {
    color: #FD6431;
}

.alertMain .alert-btn .safeBtn {
    border: 1px solid #FD6431;
}

.alertMain .alert-btn a:hover {
    color: #fff;
    background-color: #FD6431;
}

.btn {
    background: #FD6431;
    background: linear-gradient(90deg, #FD6431 0%, #ffab90 100%);
}

.alertMain .alert-btn a::before,
.btn::before {
    content: ''; /* 伪元素内容为空 */
    position: absolute; /* 绝对定位相对于按钮 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* 初始背景透明 */
    transition: background-color 0.3s ease; /* 过渡动画 */
    z-index: 0; /* 确保伪元素在文案之下 */
    overflow: hidden;
    border-radius: 12px;
}
.banner .btn::before {
    border-radius: 100px;
}
.alertMain .alert-btn a::before {
    border-radius: 8px;
}
.fix .at-once::before {
    border-radius: 6px;
}
.btn:hover::before,
.alertMain .alert-btn a:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}
.btn:active::before,
.alertMain .alert-btn a:active::before {
    background-color: rgba(0, 0, 0, 0.1);
}